body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> b169ae2d5e4b66891e903b80f38200174e9d0388
